---
layout: page
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/bulma-carousel.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/bulma-slider.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome.all.min.css" />
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/bulmaindex.css" />

<script src="{{ site.baseurl }}/js/bulma-carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/bulma-slider.min.js"></script>
<script src="{{ site.baseurl }}/js/bulmaindex.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/research.css" />


<h2>{{ page.title }} </h2>
<img src="{{ site.baseurl }}/images/respic/{{ page.img-url}}">
<br>
<h4>{{ page.intro }} </h4>

<h3>Members</h3>
<ul>
    <li>Jaehun Lee, POSTECH</li>
    <li>Kyungmin Bae, POSTECH</li>
    <li>Peter Csaba Ölveczky, University of Oslo</li>
    <li>Sharon Kim, POSTECH</li>
    <li>Minseok Kang, POSTECH</li>
</ul>

<h3>Publications</h3>
<ul class="publications-list">
    <li class="publication-item">
        <a href="https://link.springer.com/chapter/10.1007/978-3-030-81685-8_23">
        <div class="publication-title">A Formal Approach to the Design and Analysis of Self-Adaptive Systems</div>
        </a>
        <div class="publication-authors">Jaehun Lee, Kyungmin Bae, Peter Csaba Ölveczky, Sharon Kim, Minseok Kang (2023)</div>
        <div class="publication-year"></div>
    </li>
    <li class="publication-item">
        <div class="publication-title">A Formal Approach to the Design and Analysis of Self-Adaptive Systems</div>
        <div class="publication-authors">Jaehun Lee, Kyungmin Bae, Peter Csaba Ölveczky, Sharon Kim, Minseok Kang (2021)</div>
    </li>
</ul>
    <!-- {{ content }} -->