---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/research.css" />
<div class="container research" id="header" style="padding-top: 3em; text-align: center; margin: auto;">
  <div class="row" id="title-row" style="max-width: 100%; margin: 0 auto; display: inline-block">
      <h2 class="col-md-12 text-center" id="title">
          <b>{{page.bt}}</b> {{ page.st }}
          <br>
          <small>
             {{page.comments}}
          </small>
      </h2>
  </div>
  <div class="rpost-cont">
    <div class="rpost-wrap" style="text-align: left;">{{ content }}</div>
  </div>
</div>